.App {
  text-align: center;
}

.home {
  background-image: url(./components/img/sampul2.png);
  background-size: cover;
  padding-top: 10px;
}

.home img {
  text-align: center;
}

#listdata {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  display: inline-block;
}

.judullist {
  text-align: center;
  font-family: Copperlate, fantasy;
  color: black;
  background-color: white;
  display: flex;
  justify-content: space-around;
}

#profile {
  background-image: url(./components/img/sampul4.png);
  background-size: 80%;
}

.Nama {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
  display: inline-block;
  background-size: cover;
}

.judul2 {
  text-align: center;
  font-family: Copperlate, fantasy;
  background-color: white;
}

.login1 {
  padding-top: 10px;
}

.ringkasan {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: whitesmoke;
  padding-top: 20px;
}

.judul3 {
  text-align: center;
  font-family: Copperlate, fantasy;
  background-color: whitesmoke;
}

#login {
  justify-content: center;
  background-size: cover;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 200px;
  color: azure;
  background-image: url(./components/img/sampul5.png);
}
