.App {
  text-align: center;
}

#listdata {
  display: flex;
  justify-content: space-around;
  background-image: url(./components/img/sampul1.png);
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
}

.judullist {
  text-align: center;
  font-family: Copperlate, fantasy;
  padding-bottom: 25px;
}

#profile {
  padding-left: 25px;
}

.judul2 {
  text-align: center;
  font-family: Copperlate, fantasy;
  padding-bottom: 10px;
}

.ringkasan {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.judul3 {
  text-align: center;
  font-family: Copperlate, fantasy;
  padding-bottom: 10px;
}

.Nama {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
}
